.test {
  color: red;
}

.vt-logo {
  max-width: 45px;
  margin-right: 10px;
}

footer.footer {
  border: none;
  text-align: center;
  font-family: sans-serif;
}
/* Push out from fixed footer */
body {
  padding-bottom: 80px;
}

.sip-hdr-pre-text,
.sip-pre-text {
  font-size: 12px;
  font-family: monospace;
  display: inline-block;
  overflow-y: scroll;
  height: 100px;
}

.sip-pre-text {
  height: 350px;
}

.about-logo {
  display: block;
  width: 350px;
  margin: 80px auto;
  opacity: 10%;
}
